 body{
    max-width: 480px;
    overflow: hidden;
    background: url('/web/20160417132136im_/http://www.termoclick.ru/catalog/view/theme/universal/stylesheet/main_bg.png') !important;
	   zoom: 204%;
  }

  .box-product-featured > div{
    width: 210px;
  }
  ul.bottom_menu{
    border: none;
  }
  .block-productoftheday{
	max-width: 480px;
	
  }
  .banner {
	width: 480px;
  }
  .product-filter .display{
    margin-bottom: 10px;
    float: none;
  }
  .popup_feedback,.site_email,#language,#currency{
	display: none !important;
  }
  .product-list .price{
    margin-top: 0px;
  }
  .product-list .name{
    width: 100px;
  }
  .cart-info table{
    width: 458px;
  }
  .cart-info table tbody tr td{
    width: 76px;
  }
  #column-right + #content{
    margin-right: 0px;
  }
  .cart-info table tbody tr td input[type="text"]{
    width: 70px;
    text-align: center;
  }
  input.large-field, select.large-field{
    width: 200px;
  }
  .product-list .rating{
    float: none;
    width: auto;
  }
  .product-list .description{
    display: block;
    float: none;
  }
  .category-list ul li{
    margin-right: 0px;
    margin-left: 25px;
  }
  .product-filter .sort{
    float: none;
  }
  .product-filter .limit{
    float: none;
  }
  .product-filter .product-compare{
    margin-bottom: 10px;
    float: none;
  }
  .right-left{
    float: none;
    width: auto;
  }
  .product-info{
    overflow: hidden;
  }
  #price-panel{
    float: left;
	margin-top: 10px; 
  }
  #delivery-panel{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  ul.bottom_menu li{
    float: none;
    margin-left: 10px;
    border: none;
    text-align: center;
  }
  #footer .soc_icons{
    float: none;
  }
  #footer .botp2{
    float: none;
    text-align: center;
  }
  ul.bottom_menu{
    float: none;
  }
   #footer .globalweb{
    float: none;
    width: auto;
    text-align: center;

  }
  #container{
    max-width: 480px;
  }
  #toppanel{
    position: relative;
    height: auto;
  }
  #wrap_analog{
    max-width: 480px;
	width: 480px;
	 overflow: hidden;
    height: 41px;
  }
  #toppanel .site_email{
    /*display: block;*/
    float: left;
   /* clear: both;*/
  }
  .tp_line{
    display: none;
    clear: both;
  }
   
  #wrap_analog .popup_feedbac{
    float: none;
    display: block;
    clear: both;
	margin-bottom: 10px;
  }
  #wrap_analog #currency{
    display: block;
    float: none;
    clear: both;
  }
  #wrap_analog .authulka{
   
    float: left;
	padding-top:8px;
	margin-left: 10px;
  }
  .block-productoftheday{
    height: 760px;
  }
  #wrap_analog .tp_line_short{
	display: none;
  }
  #column-left{
    float: none;
    width: auto;
  }
  #column-right{
    float: none;
    width: auto;
  }
  .slideshow{
	position: absolute;
	top: 250px;
	max-width: 480px;
  }
  #slideshow0{max-width: 480px !important;width: 468px !important;left: 5px;}
  .slideshow0 img{
	width: 480px !important;
  }
  #short-dis{height: 190px;}
  .box2-catalog2{height: 300px !important;}
  
  #wrap_analog .toppanel_basket{
    display: block;
    float: left;
    padding-top: 5px;
    margin-top: 5px;

    margin-left: 0px;
    width: 200px;
    text-align: center;
    clear: both; 
  }
 #toppanel .callBtn{
      display: block;
    float: none;
    clear: both;
 }
 #container{
  max-width: 480px;
  padding-right: 5px;
  padding-left:5px;
 }
 #header #logo{
  display: block;
  float: none;
  top: 10px;
  clear: both;
  position: relative;
 }
  #header #search{
    position: relative;
    margin-top: 50px;
  }
  #header .phone1{
    position: relative;
    margin: 0px;
    margin-bottom: 3px;
    margin-top: 10px;
    top: 5px;
    left: 0px;
  }
  #header .phone2{
    position: relative;
    margin: 0px;
    margin-bottom: 3px;
    top: 5px;
    left: 0px;
  }
  #header .phone3{
    position: relative;
    margin: 0px;
    top: -49px;
    margin-bottom: 3px;
    left: -132px;
	float: right;
  }
  #header .phone4{
    position: relative;
    margin: 0px;
    margin-bottom: 3px;
    top: -22px;
    left: 43px;
	float: right;
  }
  ul.top_menu_lvl1 li{
    float: left;
  }
  .box2-catalog2:hover{
	height: 500px !important;
  }
  .top_menu_lvl1{
    max-width: 480px;
    position: relative;
    margin-top: 0px !important;
  }
  ul.top_menu_lvl1{
     position: relative;
     top: 0px;
  }
  ul.top_menu_lvl1 li a span{
	padding: 11px 4px;
  }
	.reveal-modal{
		max-width: 480px;
	}
  #menu > ul > li{
    float: none;
  }
  #menu{
    height: auto;
    max-width: 480px;
    margin-top: 129px;
  }
  .reveal-modal{
	display: none;
  }
  
  #header #search{
    float: none;
    position: relative;
    top: 0px;
    margin-top: 20px;
  }
  .price-new22{
    float: none !important;
    clear: both !important;
    margin-top: 2px !important;
    margin-left: 0px !important;
  }
  .price-new22 .buytempl{
    margin-top: 2px !important;
    margin-left: 0px !important;
  }
  #container div{
    margin-left: 0px !important;
  }
  #banner2 img{
    width: 480px;
  }
  #banner3 img{
    width: 480px;
  }

  .cart-info table tr td{
	width: 70px;
  }
  #language{
	margin-left: 30px;
  }
  #currency{
	margin-top: 10px;
  }
  #header #search input{
	width: 430px !important;
	margin-left: 5px;
  }
  #header .button-search{
	right: -220px;
  }
  .price-new22{display: none;}
  .top_menu_lvl1{display: none !important;}
  .banner{display: none !important;}
  #menu{display: none !important;}
  #search{margin-bottom: 250px !important;}
  .box-heading-manufacturer{
	margin-top: 40px;
	width: 446px !important;
  }
  .box-category{
	width: 470px;
  }
  .box-heading-featured{
	margin-top: 350px;
  }
  .slideshow{
		top: 330px;
    left: 1px !important; 
	}
  .box-category{
	visibility: hidden;
  }
  .nivoSlider{
	background-size: cover !important;
	height: 200px !important;
  }
  .nivo-box{
	display: none !important;
  }
  .nivo-slice{
  display: none !important;
  }
  .box-heading-manufacturer{
	border: none !important;
	padding: 12px !important;
	border-radius: 3px !important;
	text-align: center !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
background-color: #33bdef;
border: 1px solid #057fd0;
	background-position: 90% !important;
	font-weight: 600 !important;
	cursor: pointer !important;
	font-size: 14px !important;
	color: #fff !important;
  }
  
   .box-heading-manufacturer span{
   padding-left: 20px;
	background: url(/web/20160417132136im_/http://www.termoclick.ru/menu.png) no-repeat left center !important;
  }
   .box-heading-manufacturer span{
		content: "\f0c9";
   }
   #column-left .header-table,#column-left  .headertablea{
	background: #fafafa;
	padding: 10px 40px 10px 10px;
   }
   .box .box-content{
   background: #fafafa;
   padding: 0px;
   }
  #column-left .box-content{visibility: hidden; margin-bottom: -220px; background: none;}
  #column-left .box-heading-featured{margin-top: 180px !important; }
  #boxed-cat{
	display: block !important;
	background: none;
	margin-bottom: 50px !important;
  }
  .box-content{
	background: none !important;
	border: none !important;
  }
  #column-left2 box-content{
	position: absolute !important;
  }
  .bottom_menu li a{
	font-size: 40px !important;
  }
#column-left2{
	float: none !important;
	width: auto !important
	width: auto !important;
}
.block-productoftheday  .ct3{
	display:inline-block;float:left;margin-right:9px;padding-right:9px;height:360px;border-right:#bdbdbd 1px solid;
}
  #content{
	margin-top: 80px;
  }
  
	margin-top: -200px;
  }
  
  ul.bottom_menu li a span{
	border-right: none;
  }
  #boxed-cat #menu-box{
	margin-bottom: -340px;
	
  }
  #loginbox{
	right: 0px;
	top: 36px;

  }
.cart-info table tbody tr td input[type="text"]{
	width: 30px;
	clear: both;
	display: block;
	margin-left: 14px;
}

.cart-info {
	margin-left: -5px;
}
.cart-info td{
	padding: 2.2px !important;
}
#column-right .box-content{
	background: #fff !important;
	padding: 12px !important;
}  
#column-right{
	margin-top: 40px;
	margin-bottom: -60px;
}
.featured-box{
	margin-top: -180px;
	margin-bottom: -100px !important;
}
.blog-lates-block{
	visibility: hidden;
}
#mob-box{
display:inline-block;float:left;margin-right:9px;padding-right:9px;height:360px;border-right:#bdbdbd 1px solid;
}
    #header .button-search{
    top: 9px !important;
  }
  .pricetools-skladi{
    padding-left: 15px;
  }
ul.box-category > li ul > li{
  background: #fff;
}

#footer .column a {
	font-family: "Open Sans", "Helvetica", 'Ubuntu', sans-serif;
	font-size: 13px;
	cursor: pointer;
color: #0073b8;
text-decoration: underline;
transition: color .1s ease;
}

#footer h3 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
padding-left: 10px; 
color: #34495e;
margin-top: 0px;
margin-bottom: 8px;

}
/*
     FILE ARCHIVED ON 13:21:36 Apr 17, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:47:53 Dec 05, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.168
  esindex: 0.023
  exclusion.robots: 0.183
  LoadShardBlock: 160.206 (3)
  CDXLines.iter: 24.665 (3)
  RedisCDXSource: 10.56
  captures_list: 200.562
  PetaboxLoader3.datanode: 934.957 (4)
  load_resource: 809.039
  PetaboxLoader3.resolve: 27.595
*/